{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
  
  <div class="not_found_block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <section id="not-found" class="center">
            <h2 class="margin-bottom-10"><i class="fas fa-times-circle" style="color: red;"></i></h2>
            <p style="margin-top: 10px; color: black;"><b>Payment Unsuccessful</b></p>
            <div class="utf_error_description_part utf_ferror_description">  
                <span class="f-primary animated v fadeInRight">There was an issue processing your payment. Please try again or contact support.</span> 
            </div>
            <a href="{% url 'hotel:index' %}" class="button margin-top-20">Go to Home</a>
            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">
                <div class="gray-style margin-top-50 margin-bottom-10">
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
